* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #003580;
    color: white;
    padding: 20px;


}

h1 {
    margin-left: 200px;

}


form {
    width: 400px;
    border: 2px solid #003580;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    left: 500px;
    

}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

input {
    display: block;
    border: 2px solid  ;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: black;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: #003580;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.q {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
}

.q:hover {
    text-decoration: underline;
}

footer {
    background-color: #003580;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}