* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}


header {
    background-color: #003580;
    color: white;
    padding: 20px;
    position: fixed;
    
    width: 100%;


}



h1,
h3 {
    margin-left: 200px;
}


h4 {
    margin-left: 200px;
    font-weight: 200;
}



nav {
    background-color: #003580;
    color: white;
    padding: 10px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    left: 175px;
    border-radius: 30px;
    margin: 0 10px;
    display: inline-block;
}

.a1 {
    border: 1px white solid;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 30px;
    display: inline-block;
}

a:hover {
    background-color: #003590;

}


.reg,
.log {
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    color: #003590;
    position: relative;
    bottom: 60px;
    left: 350px;
}

.admin{
    border: none;
    border-radius: 5px;
    
    color: #003590;
    position: relative;
    bottom: 60px;
    left: 350px;
}



.icon{
    width: 30px;
    height: 30px;
}

.reg:hover,
.log:hover {
    background-color: rgb(205, 236, 255);
}

section {
    padding: 20px;
}






.search-bar {
    background-color: #fff;
    border: solid 5px #003590;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1025px;
    width: 100%;
    position: absolute;
    left: 220px;
    bottom: 290px;
}

.destination {
    width: 280px;
}

.search-bar-inputs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.input-group {

    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #003580;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 60px;
    position: absolute;
    left: 910px;
    top: 20px;
}

button:hover {
    background-color: #003560;
}


section ul{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top:550px;
}

section ul li{
    list-style: none;
   
 
}

section ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    color: #003580;
}
    
section ul li a:hover{
    font-weight: bold;
}

.cities:hover{
    background-color: #f5f5f5;
}

.plaeces{
    border: solid 1px black;
    width: 100px;
    height: 100px;
}


.login{
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.adminbutton{
    background-color: rgb(140, 128, 152);
    position: absolute;
    top: 260px;
    left: 670px;
}

.registered{

   color: black;
   
}


.left{
    min-height: 300px;
    border-right: solid 1px black;
    width: 25%;
    position: absolute;
    top: 230px;
    left: 500px;
}



.main form{
    margin: 20px;
}

.main form div{
    margin: 10px;
}

















footer {
    background-color: #003580;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
